# Auto detect text files and perform LF normalization
* text=auto
## Python ogreniyorum birinci gun.
## Ilk gun temel olan valuebel ogrendim.(int,strng,boot)
## Bu yazilari genel olarak Github hesabimi aktif tutmak icin yaziyorum. Github contibutions aktif tutmak icin reponun da public olmasi gerekiyor. Hergun yazdigim ufak kodlari gondererek bu bolumu aktif tutmayi hedefliyorum.